/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --background-color: #ebebf9;
    --text-color: #000000;
    --link-color: #5643ff;
    --link-color-hover: #1a1548;
    --header-footer-color: #2e2e2e;
    --small-font: 0.8rem;
    --medium-font: 1rem;
    --large-font: 1.2rem;
    --small-padding: 12px;
    --medium-padding: 24px;
    --large-padding: 48px;

    /* Hexagon Grid */
    --hex-size: 6.6vw; /* Size of hexagon sides */
    --hex-width: calc(var(--hex-size) * 2); /* Width of hexagons */
    --hex-height: calc(var(--hex-size) * 1.732); /* Height of hexagons (sqrt(3) * size) */
    --grid-gap: 1px; /* Grid gap between hexagons */
}

/* Basic Styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header, footer {
    background-color: var(--header-footer-color);
    padding: var(--medium-padding);
    text-align: center;
    color: var(--background-color);
}

a {
    color: var(--link-color);
}

/* Layout Styles */

.main-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: var(--medium-padding);
}

.secondary-container {
    text-align: center;
}

.example-container {
    text-align: center;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

.main-title {
    font-size: var(--medium-font);
    color: var(--text-color);
    padding: var(--small-padding);
}

a:hover {
    color: var(--link-color-hover)
}

.project {
    position: relative;
    padding: var(--medium-padding);
    width: 40%;
}

.project-title {
    font-size: var(--medium-font);
    color: var(text-color);
}

.project-description {
    display: none;
    font-size: var(--small-font);
    position: absolute;
    top: 70%;
    left: 0;
    width: 200%;
    background-color: var(--background-color);
    padding-left: var(--medium-padding);
    box-sizing: border-box;
    z-index: 1;
}

.project:hover .project-description {
    display: block;
}

.project:hover .project-title {
    color: var(--link-color-hover);
}

.about-description {
    font-size: var(--small-font);
    padding-left: 10px;
}


.test-box {
    background: var(--primary-color);
    border-radius: 10px; 
    padding: var(--small-padding);
    text-align: center;
    box-shadow: 15px 15px 10px rgba(183, 181, 210, 0.2);
}

.mini-box {
    background: var(--background-color);
    border-radius: 5px; 
    padding: var(--small-padding);
    text-align: center;
    box-shadow: 2px 2px 5px rgba(105, 84, 106, 0.7);
}

.mini-box-container {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(80px, 1fr));
    gap: 5px;
    justify-content: center;
}



.hex-grid-container {           /* THIS IS FOR HEXAGONAL 5 BY 5 */
    background-color: var(--secondary-color); /* Light grey background */
    display: grid;
    grid-template-columns: repeat(5, var(--hex-width)); /* 5 hex columns */
    justify-content: center;
    align-content: center;
    clip-path: polygon(
        50% 0%,     /* Top point */
        80% 25%,  /* Top-right point */
        80% 75%,  /* Bottom-right point */
        50% 100%,   /* Bottom point */
        20% 75%,  /* Bottom-left point */
        20% 25%   /* Top-left point */
    );
    padding: 5%;
}

/* Hexagon shape */
.hexagon {
    width: var(--hex-width);
    height: var(--hex-height);
    background: rgb(53, 31, 55);
    display: flex;
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
    );
    transition: background 0.2s;
}

/*  HEX GRID SPECIFIC COLUMNS   */
.hex-col-1 {
    align-self: center;
    margin-left: calc(var(--hex-width) * 0.5);
}

.hex-col-2 {
    align-self: center;
    margin-left: calc(var(--hex-width) * 0.25);
}

.hex-col-3 {
    align-self: center;
}

.hex-col-4 {
    align-self: center;
    margin-left: calc(var(--hex-width) * -0.25);
}

.hex-col-5 {
    align-self: center;
    margin-left: calc(var(--hex-width) * -0.5);
}

.hexagon:hover {
    background: rgba(144, 238, 144, 0);
}

.hexagon:active {
    background: rgb(0, 242, 48);
}




main {
    flex: 1;
}